@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    grid-template: 4fr 1fr / 1fr 4fr;
    grid-template-areas: "contacts history" "contacts send";
    height: 100vh;
    margin: 0;
}

#contacts {
    grid-area: contacts;
    padding: 15px;
}

#contacts a {
    color: #3f3f3f;
    font-size: 18px;
    text-decoration: none;
}

#contacts article {
    padding: 10px 0;
}

#contacts article:not(:last-child) {
    border-bottom: 1px solid #000;
}

#contacts strong {
    color: #000;
    font-size: 18px;
    text-decoration: none;
}

#history {
    grid-area: history;
    overflow-y: scroll;
    padding: 15px;
}

#history article {
    background-color: #eee;
    border-radius: 5px;
    margin: 20px 0;
    padding: 20px;
}

#history article.received {
    background: #000;
    color: #fff;
}

#history h1 {
    font-size: 12px;
    font-weight: 100;
    margin: 0 0 10px 0;
}

#send { 
    grid-area: send;
    padding: 15px;
}

#send form {
    background-color: #eee;
    border-radius: 5px;
    display: flex;
    margin: 20px 0;
    padding: 10px 15px;
}

#send button {
    align-self: center;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #000;
    font-size: 16px;
    padding: 10px 15px;
}

#send input {
    background: transparent;
    border: none;
    font-size: 16px;
    flex-grow: 1;
    outline: none;
}